<!DOCTYPE html>

<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=".././resources/styles/HelpAccountStyle.css">

    </head>
    <body>
        <div>
            <h3>Account View: Help</h3>
            <img src=".././resources/images/PantallaAccount.png" width="600" height="400" alt="No image found"/>
            <h4>General description</h4>
            <p>This windows purpose is to manage the accounts of RovoBank's customers.
                It will show you all accounts or filtered based on different criteria.
                You can also create new accounts, modify their data or delete them.</p>
            <h4>Search Operations</h4>
            <img src=".././resources/images/AccountBuscador.png" width="800" height="450" alt="No image found"/>
            <p>The middle section of the application contains a searcher that can also be use as a filter
                to search for specific account(s). There are 3 possible search that can be done. The type of search
                that can be done is chosen from any of the items inside the drop down <strong>Search by...</strong>
                and clicking on one of the type of search. 
            </p>
            <img src=".././resources/images/AccountSearchDropDown.png" width="800" height="450" alt="No image found"/>
            <strong>Search by account number</strong>
            <p>Introduce the account you want to search for in the box. This will enable the button <strong>Search</strong>.
            Pressing the button will show if there is any accounts in the RovoBank database that matches. 
            Should no accounts exist with that number or and incorrect format was introduced in the box and error Alert will
            the shown on screen.
            It is important to notice that the introduced number needs to have the following format: XXXX-XXXX-XXXX-XXXX-XXXX 
            </p>
            <img src=".././resources/images/BuscadorAccountNumber.png" width="800" height="450" alt="No image found"/>
            <strong>Search account number by dates</strong>
            <p>Introduce a starting date and ending date. It will make available the search button. After which 
                by pressing it it will search and show the accounts that where created between the chosen dates.
                If the dates do not have the right format or no account was created between then and error alert will be shown
            </p>
             <img src=".././resources/images/AccountSearchByDate.png" width="800" height="450" alt="No image found"/>
               <strong>Show all accounts in the database</strong>
               <p>
                   As the name implies this last option will show all the accounts that are in the database. It is 
                   also the predefine option when entering the Account window.
               </p>
            <h4>Table Operations</h4>
            <strong>Create a new Account</strong>
            <p>There are two ways to create and account. Either by pressing the button
                <strong>Add accounts</strong> located at the bottom right</p>
            <img src=".././resources/images/addButtonAccount.png" width="800" height="450" alt="No image found"/>
            <p> or by pressing 
                <strong>Create</strong> in the contextual menu. The contextual menu 
                can be accessed by pressing the right button on the mouse while having the pointer on top of the table.
            </p>
            <img src=".././resources/images/createContextualAccount.png" width="800" height="300" alt="No image found"/>
            <p>
                It is important to notice that all created accounts already comes with default data. Should there be an error
                in the creation of the account an alert will pop up with the reason for the error</p>
            <strong>Modify accounts data</strong>
            <p>To modify the data on the table you can do so by double clicking in the cell containing
                the information that you want to update. For security reasons <strong>Bank accounts number CANNOT 
                    be modified</strong>. The date of the creation can be modified either by entering the date manually
                using the format  <strong> "dd/MM/yyyy"</strong> or by pressing the calendar button and choosing a valid date</p>
            <img src=".././resources/images/datePickerAccount.png" width="800" height="300" alt="No image found"/>         
            <p>The same method if use when changing the balance</p>
            <strong>Delete Accounts</strong>
            <p>To delete and account it is mandatory to have an account or accounts selected, Otherwise the options for deleting
                accounts will not be available. To delete account first click on an account in the table and then press the button 
                <strong>Delete Account(s)</strong> that is located at the bottom right corner, next to the 
                <strong>Add Account</strong> button.</p>       
            <img src=".././resources/images/deleteAccounts.png" width="800" height="300" alt="No image found"/>
            <p> It is possible to delete multiple accounts in one go by 
                selecting multiple rows before pressing a button. Selection of multiple rows can be done by
                clicking on multiple rows while having press the keyboard key  <strong>CTRL</strong> or by clicking 
                on 2 different accounts while having the keyboard key  <strong>SHIFT</strong> pressed. Which in that case all the 
                accounts between the 2 selected accounts will also be selected. 
                Same as with create account you can use the same contextual menu but clicking on  <strong>Delete</strong>
                to erase the selected account(s).</p>

            <strong>Print the accounts report</strong>
            <p> Pressing the keyboard key <strong>F6</strong> 
                will open a new window where you can see a document containing a list of
                all the accounts of RovoBank</p>
            <img src=".././resources/images/accountReport.png" width="800" height="300" alt="No image found"/>
            <p>
                It is possible to save the report by using the button located at the top of the report window.
            </p>
            <strong>Exiting the application</strong>
            <p>Pressing the <strong>X</strong> at the top right most corner will prompt a message 
                confirming your intention of leaving the application. Click on yes will close the application.</p>
            <strong>Help</strong>
            <p>Pressing the keyboard key <strong>F1</strong> will show you this help</p>
        </div>
    </body>
</html>