<!DOCTYPE html>

<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=".././resources/styles/HelpAccountStyle.css">

    </head>
    <body>
        <div>
            <h3>Help Index</h3>
            <h4> <a href="AccountHelp.html">Accounts Window</a></h4>
             <h4> <a href="LoanHelp.html">Loan Window</a></h4>
             <h4> <a href="CreditCardHelp.html">Credit Card Window</a></h4>
        </div>
    </body>
</html>