<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=".././resources/styles/HelpAccountStyle.css">

    </head>
    <body>
                                <a href="IndexHelp.html">Go back to index</a>
        <div>
            <h3>Transfer View: Help</h3>
            <img src=".././resources/images/PantallaTransfer.png" width="600" height="400" alt="No image found"/>
            <h4>General description</h4>
            <p>This windows will show you all accounts or filtered based on different criteria.
                You can also create, modify or delete transfers.</p>
            <h4>Filter Operations</h4>
            <img src=".././resources/images/Find.png" width="300" height="75" alt="No image found"/>
            <p>This section of the application contains a combobox that will let you choose between 3 filters those being Sender, Reciever and Id.
                Once you choose one of the filter you will have write something in the textfield and click on the find button in order to make the filter work.
                If you choose a sender or reciever you must write both the name and/or surname y the have one, if instead you choose id you must write one of the id numbers.
            </p>
            <img src=".././resources/images/Date.png" width="300" height="75" alt="No image found"/>
            <p>
                This section will filter the table betwen the 2 dates that you put in.
                and must choose in the upper datepicker a date that is before the lower datepicker.
            </p>
            <h4>Table Operations</h4>
            <strong>Create a new Transfer</strong>
            <p>There are two ways to create a transfer. Either by pressing the button
                <strong>New Transfer</strong> located at the center right</p>
            <img src=".././resources/images/New&Delete.png" width="400" height="150" alt="No image found"/>
            <p> or by pressing 
                <strong>New Transfer</strong> in the contextual menu. The contextual menu 
                can be accessed by pressing the right button on the mouse while having the pointer on  the table.
            </p>
            <p>
                It is important to notice that all created transfers comes with default data and should be modified.</p>
            <strong>Modify Transfer data</strong>
            <p>To modify the data on the table you can do it by double clicking in the cell containing
                the information that you want to change. The only column you can't edit/change is the trasnferId. The date of the creation can be modified either by entering the date manually
                using the format  <strong> "dd/MM/yyyy"</strong> or by pressing the calendar button and choosing a valid date</p>         
            <p>You can also change the value of the amount to another cuurency on the center left by changing the combobox</p>
             
            <img src=".././resources/images/New&Delete.png" width="400" height="150" alt="No image found"/>
            <strong>Delete Transfer</strong>
            <p>To delete a transfer it is mandatory to have a transfer selected, Otherwise the options for deleting
                accounts will not be available. To delete the transfer first you click on an account in the table and then press the button 
                <strong>Delete Transfer</strong> that is located at the center right area, next to the 
                <strong>new Account</strong> button or below the <strong>new Account</strong> in the context Menu.
                Only one transfer can be deleted at a time.
            </p>       

            <strong>Print the Transfer report</strong>
            <p> You can use the tables contextual menu  and clicking on <strong>Pint Report</strong> 
                will open a new window where you can see a document containing a list of
                all the accounts of RovoBank</p>
            <img src=".././resources/images/ReportTransfer.png" width="800" height="300" alt="No image found"/>
            <strong>Exiting the application</strong>
            <p>Pressing the <strong>X</strong> at the top right most corner will prompt a message 
                confirming your intention of leaving the application. Click on yes will close the application.</p>

        </div>
                    <a href="IndexHelp.html">Go back to index</a>
    </body>
</html>