/* Global styles */
.root {
    -fx-font-family: "Arial";
    /*-fx-font-size: 14px;*/
}

/* AnchorPane */
#AnchorPane {
    -fx-background-color: white;
}

/* VBox */
.vbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

/* HBox */
.hbox {
    -fx-spacing: 10;
}

/* Labels */
.label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#lblFirst, #lblLast {
    -fx-text-fill: #147879;
}

/* Header specific styles */
.header {
    -fx-background-image: url("/com/tartanga/grupo4/resources/images/fondo.jpg");
    -fx-background-color: #147879;
    -fx-padding: 10;
}

.header .label {
    -fx-text-fill: white;
    -fx-font-size: 40px;
}

/* Buttons */
.button {
    -fx-background-color: #006048;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
}

.button:hover {
    -fx-background-color: #147879;
}

.exit-button {
    -fx-background-color: #006048;
    -fx-text-fill: white;
}

.exit-button:hover {
    -fx-background-color: #147879;
}

/* Body styles */
.body {
    -fx-background-color: white;
    -fx-padding: -1;
    -fx-border-color: white;
    -fx-border-width: 10;
    -fx-border-radius: 0;
}

/* Titles */
.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* TableView */
.table-view {
    -fx-border-color: #006048;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.table-view .column-header {
    -fx-background-color: #006048;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}



/* MenuBar */
.menu-bar{
    -fx-background-color: #006048;
}

.menu-bar .menu .label{
    -fx-font-weight: bold;
    -fx-text-fill:#ffffff;
}

.menu-bar .menu:hover {
    -fx-background-color: #147879;
}

.menu-bar .menu .menu-item .label{
    -fx-text-fill: #006048;
}

.menu-bar .menu .menu-item:hover{
    -fx-background-color: #006048;
}

.menu-bar .menu .menu-item:hover .label{
    -fx-text-fill: #ffffff;
}

#lblSearch{
    -fx-text-fill: #006048;
}

#lblFrom{
    -fx-text-fill: #006048;
}

#lblTo{
    -fx-text-fill: #006048;
}

/* Menu Button */
.menu-button {
    -fx-background-color: #006048;
}

.menu-button .menu-item .label {
    -fx-text-fill: #006048;
}

.menu-button .menu-item:hover{
    -fx-background-color: #006048;
}

.menu-button .menu-item:hover .label{
    -fx-text-fill: #ffffff;
}

.menu-button:hover {
    -fx-background-color: #147879;
}

/*Context MEnu*/

.context-menu .menu-item .label {
    -fx-text-fill: #006048;
}

.context-menu .menu-item:hover{
    -fx-background-color: #006048;
}

.context-menu .menu-item:hover .label{
    -fx-text-fill: #ffffff;
}

/*
#tableAccounts {
    -fx-border-style:solid;
    -fx-border-color:black;
    
}*/
#tableAccounts .column-header {
    -fx-border-style:solid;
    -fx-border-color:black;
   
}
#tableAccounts .column-header .arrow{
    -fx-border-style:solid;
    -fx-border-color:black;
    -fx-background-color: #ffffff;
}


#accountFinder {
    -fx-border-style:solid;
    -fx-border-color:black;
    -fx-border-radius: 10px;
}

#stackPane .label{
    -fx-text-fill: #006048;
}

.date-picker .label{
    -fx-text-fill: #006048;
}

